.root {
  flex-grow: 1;
  margin: 2vh 10vw;
}

.heading {
  text-align: center;
  background-color: #2b2e4a !important;
  color: #eeeeee !important;
  padding: 25px;
  font-size: 30px;
}

.product-list {
  padding: 2px;
  text-align: center;
  min-height: 85vh;
  background-color: #eeeeee !important;
}

.selected-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  text-align: center;
  min-height: 85vh;
  background-color: #eeeeee !important;
}
